

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.page-heading {
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}

.subheading {
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #f78c0e;
}

a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}

hr {
  width: 100%;
  margin: 100px auto;
  border-width: 2px;
  border-color:#D4D4D4;
}


hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

main {
	margin: 30px 0;
	padding: 20px;
}

footer {
	height: 100px;
	background-color: #F5D908;
}

.page-heading h1 {
	display: inline;
    background-color: #008bcc;
	padding: 0 20px 10px 20px;
  margin-top: 10px;
	}

.page-heading .subheading {
	display: inline-block !important;;
    background-color: #D80351;
	padding: 10px 20px;
}

/* ----- Header Image ----- */

.intro-header {
  background-color: #808080;
  background: no-repeat 50% 0%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 180px;
}

.intro-header .page-heading {
  color: #F5D908;
  margin-top: 15%;
}
@media only screen and (min-width: 768px) {
main {
	/*margin: 120px 0;*/
	padding: 20px;
}
  .intro-header .page-heading {
    padding: 60px 0 150px 0;
  }
}
.intro-header .page-heading {
  text-align: center;
}
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
/* ----- END Header Image ----- */


.hidden {
  visibility: none;
}

#wheelDiv {
  height: 100%;
}

#result{
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-sm-6 {
  padding-left: 15%;
  margin-bottom: 75px;
}

#inputs {
  padding-left: 10% !important;
  float: left;
}

#buttons {
  margin-top: 30%;
  margin-bottom: 10%;
}

.btn {
  font-size: 30px;
}
